
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap');

*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, span {
  font-family: "Sixtyfour Convergence", sans-serif;
}

p, div {
  font-family: "Open Sans", sans-serif;
}


/* HEADER */
.logo img{
  width: 2rem;
}
h2,h1 {
  text-align: center;
}

header , ul{
  display: flex;
  justify-content: space-evenly;
    align-items: center;
    background-color: rgb(21, 21, 94);
  height: 5rem;
}


li, a{
  list-style: none;
  text-decoration: none;
  padding-left: 4rem;
  font-family: "Overpass", sans-serif;
  font-weight:bolder;
  color: aliceblue;
  
}
.btn-reservation  {
color: rgb(224, 212, 212);
font-size: 14px;
border: 2px solid rgb(168, 40, 40);
padding: 5px 20px;
transition: 0.5;

}
.btn-reservation:hover{
    background-color: rgb(218, 131, 17);
    color: aliceblue;
    font-weight: bold;
}

.banner{
    background-image: url("./img/Tour-Eiffel-010.jpg");
    width: 100%;
    height: 40rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  #home h2{
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
  }
  #home h4{
    font-size: 50px;
    color: #b96b6b;
    margin-bottom: 10px;
    text-transform: capitalize;;
  }
 
  .list-card{

    margin: 2rem 0 0 0;
  
  }
  
  .list-image{
    background-image: url("./img/sacre-coeur-jour-escaliers.jpg");
    width: 45rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5rem 0.6rem 0.7rem grey;
    border-radius: 0.2rem;
  }
  .list-image2{
    background-image: url("./img/normandy.webp");
    width: 45rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5rem 0.6rem 0.7rem grey;
    border-radius: 0.2rem;
  }
  .list-image3{
    background-image: url("./img/alsace.webp");
    width: 45rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5rem 0.6rem 0.7rem grey;
    border-radius: 0.2rem;
  }
  .list-image4{
    background-image: url("./img/bordeaux.webp");
    width: 45rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5rem 0.6rem 0.7rem grey;
    border-radius: 0.2rem;
  }
  .list-image5{
    background-image: url("./img/chateau-dazay-pays-loire.jpg");
    width: 45rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5rem 0.6rem 0.7rem grey;
    border-radius: 0.2rem;
  }
  .list-image6{
    background-image: url("./img/alpes.jpg");
    width: 45rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5rem 0.6rem 0.7rem grey;
    border-radius: 0.2rem;
  }
  
  
  .list-card-title, .list-card-pays {
    text-shadow: 0.5rem 0.6rem 0.5rem rgb(7, 7, 7) ;
  }
  
    .list-card-title{
    font-weight: bold;
  }
      .list-card-pays {.list-card{
    margin: 2rem 0 0 0;
    }
    .list-image{
    background-image: url("./img/bordeaux.webp");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0.5rem 0.6rem 0.7rem grey;
    border-radius: 0.2rem;
  }
  
  .list-card-title, .list-card-pays {
    text-shadow: 0.5rem 0.6rem 0.5rem rgb(7, 7, 7) ;
  }
   
  .list-card-title{
    font-weight: bold;
  }
  
  
  .list-card-pays {
    font-style: italic;
  }
 

 
  }
 
  .list-card{
    padding-right: 2rem;
    width: 25%;
  }
  
  .wrapper-one, .wrapper-two {
    display: flex;
   
  
    font-style: italic;
  }
  
  .list-card{
    padding-right: 2rem;
    width: 50%;
  }
  .wrapper {
    margin-left: 12rem;

  }
  
  .wrapper-one, .wrapper-two, .wrapper-three {
    display: flex;
   
  }
  .banner2{
    background-image: url("./img/carte-france.jpg");
   
    width: 100%;
    height: 40rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
    
  .find-tripe{
    background-color: beige;
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;


  }
  .find-tripe form{
    display:grid;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  .find-tripe form div ,.find-tripe form input[type="submit"]{
    display: grid;
    flex-direction: column;
    width: 20%;
  }
  .find-tripefrom label{
    color :#b96b6b;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .find-tripe form input{
    padding: 5px 10px;
    border-color: transparent;
    border: 1px solid #fff;
  }
  #a-propos{
    margin-bottom: 50px;
    margin-top: 100px;
    padding:  0 ,10%;
    width: 100%;
  }
  .title{
    text-transform: capitalize;
    margin: 70px 0;
    font-weight: bold;
    color: aqua;
    position: relative;
    margin-left: 15px;
    font-size: 18px;
  }
  .title {
    text-align: center;
    font-size: 60px;
  }
  .title ::after{
  position:absolute;
  left: -15px;
  content: "";
  height: 10%;
  background-color: #fff;
  width: 5px;
  }
  .imag-desc{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

  }
  .imag-desc .left{
    position: relative;
    margin-left: 10px;
    height: 250px;
    width: 40%;
  }
  .imag-desc .right{
    width: 57%;
  }
  .imag-desc .left img{
    width: 100%;
    height: 100%;
    bottom: 0,0,10px;
  }
  .imag-desc .left ::after{
    position:absolute;
    left: -10px;
    bottom: -10px;
    right: 10px;
    height: 100%;
    background-color:aqua;
    width: 100%;
    z-index: -1;
    }
    .imag-desc .right h3{
      color: #fff;
      font-style: 25px;
      margin-bottom: 20px;
      color: #999;
      font: 14px;
      margin-bottom: 20px;
    }
    #about-Alsace {
      display: flex;
      justify-content: space-around;
      text-align: center;
      gap: 7rem;
    }
    #about-normondy{
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
    
    #restaurant-alsace {
      padding: 1rem;
      display: flex;
     gap :15rem;
    }
    #restaurant-normondy {
      padding: 2rem;
      display: flex; 
      gap :15rem;
    }
    #restaurant-Strasbourg {
      padding: 2rem;
      display: flex;
      gap :15rem;}
      #hotel-alsace {
        padding: 5rem;
        display: flex;
        gap: 20rem;
      }
      #hotel-colmar{
        padding: 5rem;
        display: flex;
        gap: 20rem;
      }


  
  

